/* 全局配置 */

* {
    margin: 0;
    padding: 0;
    color: #fff;
    outline: none;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}


/* 隐藏光标 */

input {
    text-align: center;
    caret-color: transparent;
    outline: none;
}

#app {
    width: 100%;
    height: 100%;
}


/* 加载动画 */

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.loading p {
    margin-top: 10px;
    padding-left: 5px;
    color: #000000;
    font-size: 2em;
}

.loading-container {
    width: 120px;
    height: 120px;
    position: relative;
}

.loading-container div {
    background: blue;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    position: absolute;
    animation: loading 2s ease infinite;
}

@keyframes loading {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(150%, 0);
    }
    50% {
        transform: translate(150%, 150%);
    }
    75% {
        transform: translate(0, 150%);
    }
}

.loading-container :first-child {
    background: #C299FC;
}

.loading-container :nth-child(2) {
    background: #FFD739;
    animation-delay: -0.5s;
}

.loading-container :nth-child(3) {
    background: #9822F9;
    animation-delay: -1s;
}

.loading-container :last-child {
    background: #6807F9;
    animation-delay: -1.5s;
}


/* 登录/注册界面 */

.wrapper {
    background: url(../img/bg-desktop.jpg) center no-repeat;
}

.rightAside {
    width: 25%;
}

.loginBox {
    top: 20%;
}

.loginBoxChoose a,
.loginBoxChoose strong {
    font-size: 1.5em;
}

.leftAside {
    width: 75%;
}

.motto,
.mottoFrom {
    font-size: 2em;
}

.mottoFrom {
    text-align: right;
}

.hideMottoBtn {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}


/* 主界面 */

.homeWrapper {
    overflow: hidden;
    background: url(../img/bg-home-desktop.jpg);
}

.homeContainer {
    width: 70%;
}

.messageArea {
    display: flex;
}

.workArea {
    width: 100%;
}


/* 主界面 notePad */

.notePad {
    background: url(../img/bg-notePad-desktop.jpg) center;
}

.inputNote {
    position: absolute;
    top: 30%;
    width: 60%;
}

.inputNoteContent {
    width: 80%;
}

.inputNoteRemark {
    height: 20%;
}

.inputSubmit {
    margin: 20px auto;
    text-align: center;
}


/* 主界面 userPad */

.userPad {
    background: url(../img/bg-userPad-desktop.jpg) center;
}