/* 全局配置 */

* {
    margin: 0;
    padding: 0;
    color: #fff;
}

html,
body {
    width: 100vw;
    height: 100vh;
}


/* 隐藏光标 */

input {
    text-align: center;
    caret-color: transparent;
    outline: none;
}

#app {
    width: 100%;
    height: 100%;
}


/* 加载动画 */

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 登录/注册界面 */

.wrapper {
    background: url(../img/bg-desktop.jpg) center no-repeat;
}

::-webkit-scrollbar {
    display: none;
}