/*登录/注册页面*/

.wrapper {
    background: url(../img/bg-mobile.jpg) no-repeat;
    background-size: 100%;
}

.leftAside {
    display: none;
}


/* 登录页 */

.login-box {
    width: 100%!important;
    height: 300px;
}

.el-form {
    width: 50%!important;
}

.el-form-item {
    width: 200px!important;
}

.home-wrapper {
    flex-direction: column!important;
}