/*登录/注册页面*/

.wrapper {
    background: url(../img/bg-mobile.jpg) no-repeat;
    background-size: 100%;
}

.leftAside {
    display: none;
}


/* 登录页 */

.login-box {
    width: 100%!important;
    height: 300px;
}

.el-form {
    width: 50%!important;
}

.el-form-item {
    width: 200px!important;
}


/* 主页面 */

.homeWrapper {
    background: url(../img/bg-home-mobile.jpg) no-repeat;
    background-size: 100%;
}

.homeContainer {
    width: 100%;
}

.messageArea {
    display: none;
}

.workArea {
    width: 100%;
}


/* 主界面 notePad */

.notePad {
    background: url(../img/bg-notePad-mobile.jpg);
    background-size: 100%;
}

.inputNote {
    width: 100%;
}


/* 主界面 userPad */

.userPad {
    background: url(../img/bg-userPad-mobile.jpg);
    background-size: 100%;
}