/*login页面*/
.wrapper{
	background:url(../img/bg-mobile.jpg) no-repeat;
	background-size: 100%;
}

/* 登录页 */
.login-box{
	width:100%!important;
	height:300px;
}

.el-form{
	width:50%!important;
}
.el-form-item{
	width:200px!important;
}

.home-wrapper{
	flex-direction: column!important;
}

.user-info{
	width:100%!important;
	height:20%;
}

.user-info p{
	height: 20%!important;
	line-height: 100%!important;
}